<style>
 thead tr td{
   background-color: rgba(13, 110, 253, 0.7) !important;
 }
  form label{
    margin-left: 20px;
  }
  #data, #form {
    scroll-margin-top: 100%;
  }
  @media (min-width: 768px){
    .row input{
      width: 500px;
    }
    .row select{
      width: 500px;
    }
  }
  @media (max-width: 767px) {
  .table-responsive {
    overflow-x: auto;
  }
  
  .table {
    min-width: 100%; /* Mencegah tabel terlalu kecil */
  }
/*   
  /* Sesuaikan lebar kolom jika diperlukan */
  .table td {
    white-space: nowrap; /* Mencegah teks terlalu panjang wrap */
  } */
  }
</style>
<%= render partial: "components/header"  %>
<%= render partial: "components/sidebar"  %>
<%# repot data %>
<div class="card text-center mt-4">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <p class="nav-link active" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data" aria-selected="true" onclick="batal()">Data</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" id="repot-tab" data-toggle="tab" href="#repot" role="tab" aria-controls="report" aria-selected="false" onclick="tabrepot()">Reports</p>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content mt-3">
        <div class="tab-pane active" id="data" role="tabpanel" aria-labelledby="data-tab">
          <div class="row">
            <div class="col text-start">
            <%# Table %>
            <div class="table-responsive">
              <table class="table table-hover table-bordered mx-0">
                <thead class="thead">
                  <tr>
                    <td>No.</td>
                    <td>Tanggal</td>
                    <td>Jam</td>
                    <td>Suhu</td>
                    <td>kelembaban</td>
                    <td>Kebisingan</td>
                    <td>lux</td>
                    <td>Debu</td>
                    <td>Amonia</td>
                    <td>Alat</td>
                  </tr>
                </thead>
                <tbody>
                <%if @data.present? 
                @no = 0
                %>
                <% @data.each_with_index  do |data, index| %>
                  <tr>
                    <td><%= @no+= 1  %></td>
                    <td><%= (data['waktu'].to_time).strftime("%Y-%m-%d")%></td>
                    <td><%= (data['waktu'].to_time).strftime("%H:%M:%S")%></td>
                    <td><%= data['suhu'] %></td>
                    <td><%= data['kelembaban'] %></td>
                    <td><%= data['kebisingan'] %></td>
                    <td><%= data['lux'] %></td>
                    <td><%= data['debu'] %></td>
                    <td><%= data['amonia'] %></td>
                    <td><%= data['alat'] %></td>
                  </tr>
                  <%end%>
                <% else %>
                  <tr>
                    <td class="text-center" colspan="9">Data Monitoring Kosong!</td>
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
            <%# Akhir Table %>
            </div>
          </div>
        <%= render partial: "components/pagging"%>
        </div>
        <div class="tab-pane" id="repot" role="tabpanel" aria-labelledby="repot-tab">
          <div class="row">
            <div class="col text-start">
              <form id="form-data">
                <div class="mb-3">
                  <label for="tgl_mulai" class="form-label ">Tanggal Mulai</label>
                  <input type="date" id="tgl_mulai" class="form-control" name="tgl_mulai">
                </div>
                <div class="mb-3">
                  <label for="tgl_akhir" class="form-label ">Tanggal Akhir</label>
                  <input type="date" id="tgl_akhir" class="form-control" name="tgl_akhir">
                </div>
                <button  class="btn btn-primary" id="aksi_simpan" title="Simpan" onclick="csv()"> Export</button>
              </form>
            </div>
          </div>
        </div>
      
      </div>
    </div>
</div>
<script>
function csv(){
  var data_form = $('#form-data').serialize()
  const url = `/export?${data_form}`;
  window.location.href = url;
// console.log(data_form);
  // $.ajax({
  //   url: '/export',
  //   dataType: 'JSON',
  //   type: 'GET',
  //   data: data_form,
  //   success: function (res){
  //     console.log(res);
  //      if(res.status == true){
  //       window.open = url,'_blank';
  //     }
  //   },
  //   error: function (res) {
  //     console.log(res);
  //   }
  // })
}
function batal() {
  $('#data-tab').tab('show');
}
function tabrepot() {
  $('#repot-tab').tab('show');
}
</script>
<%= render partial: "components/footer" %>

