<%= render partial: 'components/header' %>
<%= render partial: 'components/sidebar' %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<%# <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> %>

<style>
div.card{
  margin-bottom: 40px;
}
#suhu, #kelembaban, #kebisingan, #lux, #debu, #amonia {
  scroll-margin-top: 60px; 
}

li{
  list-style: none;
  flex: right;
}

.kotak-monitoring {
  background-color: rgba(13, 110, 253, 0.8);
  border-radius: 10px;
  height:100px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.kotak-monitoring:hover {
  background-color: rgba(13, 110, 253, 0.9); 
}

.icon-mon{
  position: absolute;
  top: 5px; 
  right: 5px;
} 
.icon-mon svg{
  height: 30px;
  width: 30px;
  fill: white;
}
@media (min-width: 768px) {
  div.kotak-monitoring {
    height:100%;
    width:100%;
  }
  #class-buget{
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .col {
    float: none;
    width: 100%;
  }
  div.kotak-monitoring{
    margin-bottom: 25px;
    height:50px;

  }
}
div.btn-toolbar{
  display: flex;
  align-items: center;
}
select{
  display:inline-block;
}
button{
  margin-right: 10px; 
}
#class-buget{
  height: 80px;
  
}
</style>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <select id="status_alat" onchange="pilih_alat()" class="form-select" name="status" aria-label="Default select example">
              <option value="off" selected> OFF - PILIH ALAT</option>
          <% if @data_alat.present? %>
                <% @data_alat.each do |alat| %>
                          <option value="<%= alat['id'] %>">ON - <%= alat['nama_alat']%> </option>
                <% end %>
            <%else%>
                <option value="off">Tidak Ada Alat Aktif</option>
            <% end %>
          </select>
        </div>
      </div>
      <!-- Buget Monitroing -->
      <div class="row" id="class-buget">
        <div class="col">
          <div class="kotak-monitoring">
            <div class="val-monitoring" id="suhu">
                  <h4 id="suhu-val">
                  </h4>
            </div>
            <div class="icon-mon" id="icon">
              <svg><use xlink:href="#icon-suhu"/></svg>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="kotak-monitoring">
            <div class="val-monitoring" id="suhu">
                  <h4 id="kelembaban-val">
                  </h4>
            </div>
            <div class="icon-mon" id="icon">
              <svg><use xlink:href="#icon-kelembaban"/></svg>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="kotak-monitoring">
              <div class="val-monitoring" >
                <h3 id="kebisingan-val">
                </h3>
              </div>
              <div class="icon-mon" id="icon">
                <svg><use xlink:href="#icon-kebisingan"/></svg>
              </div>
            </div>
        </div>
      </div>
      <div class="row" id="class-buget">
        <div class="col">
          <div class="kotak-monitoring">
            <div class="val-monitoring" >
              <h3 id="lux-val">
              </h3>
            </div>
            <div class="icon-mon" id="icon">
              <svg><use xlink:href="#icon-lux"/></svg>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="kotak-monitoring">
            <div class="val-monitoring" >
              <h3 id="debu-val">
              </h3>
            </div>
            <div class="icon-mon" id="icon">
              <svg><use xlink:href="#icon-debu"/></svg>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="kotak-monitoring">
            <div class="val-monitoring" >
              <h3 id="amonia-val">
              </h3>
            </div>
            <div class="icon-mon" id="icon">
              <svg><use xlink:href="#icon-amonia"/></svg>
            </div>
          </div>
        </div>
      </div>
      <!-- Akhir Buget Monitroing -->
      <!-- Grafik Monotoring -->
      <br>
      <div class="row">
        <div class="col">
          <div id="suhu"  class="card">
            <h5 class="card-header">Suhu (°C)</h5>
            <div class="card-body">
              <canvas id="suhu-chart">
              </canvas>
            </div>
          </div>
        </div>
        <div class="col">
          <div id="kelmbaban"  class="card">
            <h5 class="card-header">Kelembaban (%)</h5>
            <div class="card-body">
              <canvas id="kelembaban-chart">
              </canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="kebisingan"  class="card">
            <h5 class="card-header">Kebisingan (dB)</h5>
            <div class="card-body">
              <canvas id="kebisingan-chart">
              </canvas>
            </div>
          </div>
        </div>
        <div class="col">
          <div id="lux"  class="card">
            <h5 class="card-header">Lux</h5>
            <div class="card-body">
              <canvas id="lux-chart">
              </canvas>
            </div>
          </div>          
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="debu"  class="card">
            <h5 class="card-header">Debu</h5>
            <div class="card-body">
              <canvas id="debu-chart">
              </canvas>
            </div>
          </div>
        </div>
        <div class="col">
          <div id="co2"  class="card">
            <h5 class="card-header">Co2</h5>
            <div class="card-body">
              <canvas id="amonia-chart">
              </canvas>
            </div>
          </div>          
        </div>
      </div>
    </div>
    <script>
        var suhuData = [];
        var kelembabanData = [];
        var kebisinganData = [];
        var labels = [];

        // Grafik Suhu
        var suhuctx = document.getElementById('suhu-chart').getContext('2d');
        var suhuChart = new Chart(suhuctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Suhu (°C)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    data: suhuData,
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        suggestedMax: 50
                    }
                },
                plugins:{
                  legend: {
                    display : false,
                  }
                }
            }
        });
        // Grafik Kelembapan 
        var kelembabanctx = document.getElementById('kelembaban-chart').getContext('2d');
        var kelembabanChart = new Chart(kelembabanctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Kelembapan (%)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    data: kelembabanData,
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        suggestedMax: 100
                    }
                },
                plugins:{
                  legend: {
                    display : false,
                  }
                }
            }
        });

        // Kebisingan
        var kebisinganctx = document.getElementById('kebisingan-chart').getContext('2d');
        var kebisinganChart = new Chart(kebisinganctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Kebisingan (dB)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    data: kebisinganData,
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        suggestedMax: 100
                    }
                },
                plugins:{
                  legend: {
                    display : false,
                  }
                }
            }
        });
    // Get data From Mqtt
    function pilih_alat() {
      id_alat = $('#status_alat').find(":selected").val();
      if (id_alat === 'off') {
        return;
      }
        $.ajax({
            url: '/mqtt/sub', 
            type: 'GET',
            dataType: 'json',
            data: { topic: id_alat },
            success: function(res) {
                const suhu = res.suhu;
                const kelembaban = res.kelembaban;
                const kebisingan = res.kebisingan;
                $("#suhu-val").text(`${suhu} °C`);
                $("#kelembaban-val").text(`${kelembaban} %`);
                $("#kebisingan-val").text(`${kebisingan} dB`);

                const date = new Date();
                const hours = date.getHours().toString().padStart(2, '0');
                const minutes = date.getMinutes().toString().padStart(2, '0');
                const formattedTime = `${hours}:${minutes}`;

                labels.push(formattedTime);
                suhuData.push(suhu);
                kelembabanData.push(kelembaban);
                kebisinganData.push(kebisingan);

                if (labels.length >= 43200) {
                    labels.shift();
                    suhuData.shift();
                    kelembabanData.shift();
                    kebisinganData.shift();
                }
                // Perbarui grafik
                suhuChart.update();
                kelembabanChart.update();
                kebisinganChart.update();
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
      } 
       setInterval(pilih_alat,20000);
    </script>
<%= render partial: 'components/footer' %>